<div class="container">
    <div class="header">
        <h2>Bulk import Products from CSV</h2>
    </div>
    <p>Please downlod sample file
        <span>here</span></p>
    <div class="drag-drop">
        <input type="file" />
        <img src="assets/csv.png" alt="">
        <p>Click and drag the CSV file here or manually upload from computer</p>
    </div>
    <div class="action">
        <button class="btn-import">Import</button>
        <button class="btn-cancel" (click)="openDailogService.showDailog = false">Cancel</button>
    </div>
</div>

